body {
    margin: 10%; /* Marge en pourcentage */
}

.container {
      background: black;
      border-radius: 15px 15px 0px 0px;
      text-align: center;
      color: white;
      padding: 20px;
}

.btn {
    margin: 8px;
}

.device-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.device {
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
}

.device img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ccc;
}

.device-label {
    text-align: center;
    padding: 10px;
    background-color: #f5f5f5;
}

.device-label a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    pointer-events: auto; /* Activer les clics */
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}